* text {
    color: #ffffff;
}

body, html {
    margin: 0;
    padding: 0;
    
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}





body, h1, h2, p {
    margin: 0;
    padding: 0;
}

h2 {
    color: #ffffff;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background: #000000;
    color: #fffdfd;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;

}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 15px;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #9995b8;
}

#gallery {
    padding: 1rem;
    text-align: center;
}

#gallery h2 {
    margin-bottom: 1rem;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-image {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin: 0.5rem;
    width: calc(25% - 1rem);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px
}
footer{
    text-align: center;
}
.text-container {
    -ms-grid-row-align: center;
}
#texts {
    text-align: center;
    color: #ddd;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

#contact-card {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0.5rem;
}
.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 30px;
    
}

.user {
    
    width: 350px;
    height: 450px;
    padding: 1rem;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 5px #e8eaf1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20rem;

    background-color: #fff6ef;
}
.user-img-wrap {
    position: relative;
    width: 275px;
    aspect-ratio: 1;
    padding: 7px;
    border-radius: 50%;   
}



.user-img {
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
}
.user-meta {
    text-align: center;
}

.user-name {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}

.user-location {
    font-size: 14px;
    font-size: 0.875rem;
    color: #000000;
    margin-bottom: 1rem;
}

.user-profiles {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
a:link { 
    text-decoration: none; 
  }

.static {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin: 0.5rem;
    width: calc(25% - 1rem);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}